@page
@model PageBook.Pages.Agenda.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h2> @Html.DisplayFor(model => model.AGENDA.Nome) <small>Será removido da sua Agenda</small> </h2>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AGENDA.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AGENDA.Nome)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AGENDA.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AGENDA.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AGENDA.DDD)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AGENDA.DDD)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AGENDA.Celular)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AGENDA.Celular)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AGENDA.Empresa)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AGENDA.Empresa)
                </dd>
            </dl>
        </div>
        <div class="col-lg-6 controle_btn">
            <form method="post">
                <input type="hidden" asp-for="AGENDA.ID" />
                <input type="submit" value="Deletar" class="btn btn-default float-left" />
                <a asp-page="./Index" class="btn btn-default float-left">Cancelar</a>
            </form>
        </div>
    </div>


</div>
<div>
    <img src="https://picsum.photos/790/500/?random" alt="Imagem" class="img-responsive" />
</div>
