@page
@model PageBook.Pages.Agenda.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Detalhes de</h4>

            <div>
                <h2> @Html.DisplayFor(model => model.AGENDA.Nome)</h2>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.AGENDA.Nome)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AGENDA.Nome)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AGENDA.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AGENDA.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AGENDA.DDD)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AGENDA.DDD)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AGENDA.Celular)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AGENDA.Celular)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AGENDA.Empresa)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AGENDA.Empresa)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="col-md-6">
            <div class="controle_btn">
                <a asp-page="./Edit" class="btn btn-default" asp-route-id="@Model.AGENDA.ID">Editar</a>
                <a asp-page="./Index" class="btn btn-default">Voltar</a>
            </div>
        </div>
    </div>
</div>
<div>
    <img src="https://picsum.photos/770/500/?random" alt="Imagem" class="img-responsive" />
</div>

